.main {
  &__title {
    font-weight: 600;
    font-size: 112px;
    line-height: 100%;
    font-family: "NewYorkExtraLarge";
    @media all and (max-width: 840px) {
      font-size: 80px;
    }
    @media all and (max-width: 540px) {
      font-size: 60px;
    }
  }
  &__title--orange {
    color: #fd665e;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    @media all and (max-width: 1024px) {
      font-size: 80px;
      flex-direction: column-reverse;
    }
  }
  &__text {
    max-width: 290px;
    width: 100%;
    margin-bottom: 48px;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0.01em;
    font-family: "SFUIDisplayRegular";
    @media all and (max-width: 1024px) {
      margin-bottom: 0;
    }
  }
  &__btn {
    width: 179px;
    height: 56px;
    border-radius: 4px;
    background-color: #fd665e;
    color: #ffff;
    font-size: 16px;
  }
  &__img {
    max-width: 765px;
    width: 100%;
    @media all and (max-width: 1024px) {
      margin-bottom: 15px;
    }
  }
  &__wrap {
    padding-right: 10px;
  }
}
